/* 기본 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* 그리드 컨테이너 스타일 */
.grid-container {
    display: grid;
    grid-auto-rows: 1fr; /* 세로 블록 크기 균등 */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 블록 스타일 */
.block {
    border-radius: 5px; /* 모서리 둥글게 */
}

/* 페이지별 블록 색상 */
.page1 .block {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #faf05d 50%, rgba(217, 217, 217, 0) 100%);
}

.page2 .block {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #44fcb7 50%, rgba(217, 217, 217, 0) 100%);
}

.page3 .block {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #f74d4d 50%, rgba(217, 217, 217, 0) 100%);
}

.page4 .block {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #fff08a 50%, rgba(217, 217, 217, 0) 100%);
}


/* 반응형 스타일 */
@media (max-width: 768px) {
    .grid-container {
        gap: 5px; /* 작은 화면에서는 간격 축소 */
    }

    .block {
        border-radius: 3px; /* 작은 화면에서는 둥글기 축소 */
    }
}

/* 페이지별 배경색 */
.page1 {
    background-color: #ff0fb1;
}

.page2 {
    background-color: #7308cb;
}

.page3 {
    background-color: #1502f4;
}

.page4 {
    background-color: #29ff3d;
}

/* 페이지별 간격 설정 */
.page1 .grid-container {
    gap: 0.8vw; /* 페이지 1 간격 */
}

.page2 .grid-container {
    gap: 0.7vw; /* 페이지 2 간격 */
}

.page3 .grid-container {
    gap: 0.6vw; /* 페이지 3 간격 */
}

.page4 .grid-container {
    gap: 0.5vw; /* 페이지 4 간격 */
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .page1 .grid-container {
        gap: 0.8vw;
    }

    .page2 .grid-container {
        gap: 0.7vw;
    }

    .page3 .grid-container {
        gap: 0.6vw;
    }

    .page4 .grid-container {
        gap: 0.5vw;
    }

    .block {
        border-radius: 3px; /* 작은 화면에서는 둥글기 축소 */
    }
}